<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <!--处理以.aspx、.asphx之类的默认走asp.net执行的404请求-->
    <customErrors mode="On" redirectMode="ResponseRewrite" defaultRedirect="/nopage.aspx">
      <error statusCode="404" redirect="/nopage.aspx"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="FormsAuthentication" />
    </modules>
    <!--处理以.aspx、.asphx之类的默认走asp.net执行的404请求-->
    <httpErrors errorMode="Custom" existingResponse="Replace">
      <remove statusCode="404" subStatusCode="-1"/>
      <error statusCode="404" prefixLanguageFilePath="" path="nopage.aspx" responseMode="ExecuteURL"/>
    </httpErrors>
    <handlers>
      <!--处理MVC路径被IIS识别为staticFile静态文件的问题，也解析为asp.net解析，name可以随便写，不重复就可以-->
      <add name="apiSite" path="/api/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
      <add name="upSite" path="/up/*" verb="*" type="System.Web.Routing.UrlRoutingModule" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
</configuration>