<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.yushi.custombridge" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>custombridge</name><js-module name="custombridge" src="www/custombridge.js"><clobbers target="cordova.plugins.custombridge" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="custombridge"><param name="android-package" value="com.yushi.custombridge.custombridge" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/custombridge.java" target-dir="src/com/yushi/custombridge/custombridge" /></platform></plugin>